footer{
    width: 100%;
    float: left;
    height: 80px;
    background-color: rgba(245, 240, 240, 0.733);
}
footer p{
    color:dimgrey;
}
h1,h2,h3,h4,h5,h6{
    color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    float:left;
    width: 100%;
    height: 120px;
    background-color: rgba(245, 240, 240, 0.733);
    margin-bottom: 20px;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
section h1{
    text-align: center;
    font-size: 24px;
}

/* clases generales del sitio */
.btn{
    width: 120px;
    height: 40px;
    border: 0;
    text-align: center;
    border-radius: 5px;
}
.btn-primary{
    background-color: dodgerblue;
    color: white;
}
.btn-primary:hover{
    background-color: cornflowerblue;
}
.copyright{
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-top: 35px;
}
.derecho, .izquierdo{
    float: left;
}
.derecho{
    width: 30%;
}
.formulario{
    float: left;
    width: 50%;
    margin-left: 25%;
}
.form-control{
    float: left;
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: #73B5E1;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 10px;
}
.izquierdo{
    width: 70%;
}
.text-danger{
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.texto, video{
    float: left;
    width: 100%;
}
.texto{
    margin-top: 20px;
    margin-bottom: 20px;
}
.texto p{
    line-height: 22px;
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.video{
    position: relative;
}

/* menu */
#menu{
    margin-top: 50px;
    margin-left: 20px;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
   /* items del menu */
   
   #menu ul li {
    background-color: rgba(245, 240, 240, 0.733);
   }
   
   /* enlaces del menu */
   
#menu ul a {
    display:block;
    color: black;
    text-decoration:none;
    font-weight:400;
    font-size:18px;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing:1px;
}
   
   /* items del menu */
   
#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
#menu ul li a:hover {
    color:#f8c08c;
   }
   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:220px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }
